.instructions {
  text-align: center;
  font-family: "Rosario", sans-serif;
  font-size: 19px;
  line-height: 36px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.dragNDrop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-meal {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 36px;
}

.search-meal label {
  margin-right: 10px;
}

.modal img {
  margin-left: 180px;
  margin-bottom: 25px;
  width: 50%;
}

.cook-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25px;
}

.cooking-array h4 {
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

.cooking-array li {
  line-height: 30px;
  margin: 0 20px;
}

.recipe-title {
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-left: 245px;
}

.instructions-recipe {
  list-style-type: decimal;
}

.sc-AxhUy {
  display: flex;
  justify-content: center;
}
